# doc files
*.pdf

# setup files
poetry.lock
.env

# data files
data/*
!data/processed
!data/dwd/
data/dwd/*
!data/dwd/KL_Tageswerte_Beschreibung_Stationen.txt
data/processed/*.zarr
data/processed/*.zip
data/processed/model_input.zarr

# cache files
__pycache__/
.ipynb_checkpoints
cache

# pipeline output
code/data_acquisition/slurm/*.out
code/data_acquisition/slurm/*.err
code/data_acquisition/slurm/*.txt
code/data_acquisition/slurm/outputs/*
